{% if notes.length %}
	{% for note in notes %}
		{% if loop.index0 % 2 == 0 %}
			<div class="row">
				<div class="col-sm-6">
					<article class="note">
						<h3 class="note-title"><a href="/notes/show/{{ note.slug }}">{{ note.title }}</a></h3>
						<a href="/notebooks/{{ note.notebook.slug }}" class="notebook">{{ note.notebook.title }} {{ getNotebookIcon(note.notebook.title) | safe }}</a>
						<time class="note-date">{{ prettyDate(note.createdAt) }}</time>
	    		</article>
	    	</div>
	  {% else %}  
	  		<div class="col-sm-6">
	  			<article class="note">
	  				<h3 class="note-title"><a href="/notes/show/{{ note.slug }}">{{ note.title }}</a></h3>
	  				<a href="/notebooks/{{ note.notebook.slug }}" class="notebook">{{ note.notebook.title }} {{ getNotebookIcon(note.notebook.title) | safe }}</a>
	  				<time class="note-date">{{ prettyDate(note.createdAt) }}</time>
  				</article>
  			</div>
  		</div>
  		{% endif %}

  {% endfor %}
{% else %}
  <p class="error">No notes have been added yet.</p>
{% endif %}