{% if notes.length > 0 %}
  {% set cycle = cycler('one', 'two', 'three') %}
  {% for note in notes %}
    
    {% set curCycle = cycle.next() %}
    
    {% if curCycle == 'one' %}
      <div class="row">
      {% include '../partials/note.html' %}
    {% elif curCycle == 'three' %}
      {% include '../partials/note.html' %}
      </div>
    {% else %}
      {% include '../partials/note.html' %}
    {% endif %}
    
    {% if loop.last and curCycle != 'three' %}
      </div>
    {% endif %}

  {% endfor %}

{% else %}
  <p class="error">No notes have been added yet.</p>
{% endif %}
