{% if notes.length %}
  {% set cycle = cycler('one', 'two', 'three') %}
  {% for note in notes %}
    
    {% set curCycle = cycle.next() %}
    
    {% if curCycle == 'one' %}
      <div class="row">
        <div class="col-sm-4">
          <a href="/notes/show/{{ note.slug }}">
            <article class="note">
              <h3 class="note-title">{{ note.title }}</h3>
              <span href="/notebooks/{{ note.notebook.slug }}" class="notebook">{{ note.notebook.title }} {{ getNotebookIcon(note.notebook.title) | safe }}</span>
              <time class="note-date">{{ prettyDate(note.createdAt) }}</time>
            </article>
          </a>
        </div>
    {% elif curCycle == 'three' %}
        <div class="col-sm-4">
        <a href="/notes/show/{{ note.slug }}">
          <article class="note">
            <h3 class="note-title">{{ note.title }}</h3>
            <span href="/notebooks/{{ note.notebook.slug }}" class="notebook">{{ note.notebook.title }} {{ getNotebookIcon(note.notebook.title) | safe }}</span>
            <time class="note-date">{{ prettyDate(note.createdAt) }}</time>
          </article>
        </a>
      </div>
      </div>
    {% else %}
      <div class="col-sm-4">
        <a href="/notes/show/{{ note.slug }}">
          <article class="note">
            <h3 class="note-title">{{ note.title }}</h3>
            <span href="/notebooks/{{ note.notebook.slug }}" class="notebook">{{ note.notebook.title }} {{ getNotebookIcon(note.notebook.title) | safe }}</span>
            <time class="note-date">{{ prettyDate(note.createdAt) }}</time>
          </article>
        </a>
      </div>
    {% endif %}
    
    {% if loop.last and curCycle != 'three' %}
      </div>
    {% endif %}

  {% endfor %}

{% else %}
  <p class="error">No notes have been added yet.</p>
{% endif %}
