node_modules
data
.DS_Store
npm-debug.log
config/passport-info.js
public/stylesheets/bootstrap.min.css
public/stylesheets/prism.min.css
public/javascripts/bootstrap.min.js
public/javascripts/prism.min.js
