body {
  font-family: 'Oxygen', sans-serif;
}

a {
  color: #22c7ca;
}

a:hover {
  opacity: .7;
  text-decoration: none;
}

.jumbotron {
  background: rgb(53, 57, 66);
  color: #ffffff;
  margin-top: -20px;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;
}

.jumbotron h1,
.jumbotron h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: .15rem;
}

.navbar {
  background: rgb(53, 57, 66);
  border: none;
  border-bottom: .1rem solid #22c7ca;
  border-radius: 0;
  letter-spacing: .2rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.navbar .navbar-brand {
  color: #e7ff72;
  letter-spacing: .3rem;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

.navbar .navbar-brand.icon {
  color: rgb(230, 230, 230);
}

.navbar .navbar-brand:hover {
  color: #e7ff72;
}

.navbar-default .navbar-nav>li>a {
  color: #e7ff72;
  font-family: 'Lato', sans-serif;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #e7ff72;
}

.container {
  font-size: 1.5rem;
  letter-spacing: .06rem;
}

.error {
  color: #ed4e6e;
}

.note {
  margin-bottom: 4rem;
}

.note-date {
  color: rgb(153, 153, 153);
  margin-left: .5rem;
}

.notebook {
  background: #f9f9f9;
  border: .1rem solid #eeeeee;
  border-radius: .3rem;
  color: #4cae4c;
  display: inline-block;
  margin-top: .5rem;
  padding: .6rem;
}

form button {
  width: 100%;
}

.note-body pre,
.note-body pre.prettyprint {
  font-family: Consolas, 'Lucida Console', monospace;
  font-size: 1.4rem;
  margin: 1rem 0;
  padding: 1.4rem;
  border: .1rem solid rgb(204, 204, 204);
}

.note-title {
  font-weight: 300;
}

.count {
  color: rgb(92, 184, 92);
  font-family: 'Lato';
}

footer {
  border-top: .1rem solid #22c7ca;
  margin-top: 3rem;
  font-family: 'Lato';
  font-weight: 300;
  padding: 2rem 0;
}