body {
  font-family: 'Oxygen', sans-serif;
}

a {
  color: #22c7ca;
}

a:hover {
  opacity: .7;
  text-decoration: none;
}

.jumbotron {
  background: rgb(53, 57, 66);
  color: #ffffff;
  margin-top: -20px;
}

.jumbotron h1,
.jumbotron h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: .15rem;
}

.navbar {
  background: rgb(53, 57, 66);
  border: none;
  border-bottom: .1rem solid #22c7ca;
  border-radius: 0;
  letter-spacing: .2rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.navbar-default .navbar-nav>li>a {
  color: #e7ff72
}

.navbar-default .navbar-nav>li>a:hover {
  color: #e7ff72;
}

.navbar .navbar-brand {
  font-weight: 400;
  letter-spacing: 2px;
}

.container {
  font-size: 1.5rem;
  letter-spacing: .06rem;
}

.error {
  color: #ed4e6e;
}

form button {
  width: 100%;
}

.note-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.note-body {
  white-space: pre;
}