
body {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}

a {
  color: rgb(41, 182, 246);
}

a:hover {
  opacity: .7;
  text-decoration: none;
}

.jumbotron h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.navbar {
  background: #ffffff;
  font-weight: 400;
}

.navbar .navbar-brand {
  font-weight: 400;
  letter-spacing: 2px;
}

.jumbotron {
  background: #ffffff;
  margin-top: -20px;
}

.container {
  font-size: 1.6rem;
}

.error {
  color: #ed4e6e;
}

form button {
  width: 100%;
}

code {
  font-family: 'Consolas';
}

.note-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
