{% extends "/layouts/application.html" %}

  {% block nav %}
    {% include "/layouts/nav.html" %}
  {% endblock %}

  {% block content %}
    <div class="text-center jumbotron">
      <h1>{{ jumbotron | safe }}</h1>
    </div>
    <div class="container text-center">
      <p>I&lsquo;m a junior software engineer for <a href="http://nymag.com">New York Magazine</a>.</p>
      <p>I work on these sites: <a href="http://nymag.com">nymag.com</a>, <a href="http://thecut.com">thecut.com</a>, <a href="http://vulture.com">vulture.com</a>, <a href="http://grubstreet.com">grubstreet.com</a>, and <a href="http://nymag.com/scienceofus">nymag.com/scienceofus</a>.
    </div>
  {% endblock %}