{% extends "/layouts/application.html" %}

  {% block nav %}
    {% include "/partials/nav.html" %}
  {% endblock %}

  {% block content %}
    <div class="text-center jumbotron">
      <h2>{{ jumbotron | safe }}</h2>
    </div>
    <div class="container text-center">
      <p>I&rsquo;m a junior software engineer for <a href="http://nymag.com">New York Magazine</a>.</p>
      <p>I work on these sites: <a href="http://nymag.com">nymag.com</a>, <a href="http://thecut.com">thecut.com</a>, <a href="http://vulture.com">vulture.com</a>, <a href="http://grubstreet.com">grubstreet.com</a>, and <a href="http://nymag.com/scienceofus">nymag.com/scienceofus</a>.
      <p>I graduated from <a target="_blank" href="http://iub.edu">Indiana University</a> in 2014 with a Bachelor of Science in Informatics and a cognate in Computer Science.</p>
      <hr>
      <p>Reach out to me on:</p>
      <div class="btn-group">
        <a target="_blank" href="mailto:kevinferri@gmail.com?Subject=Hey,%20Kevin" target="_top" class="btn btn-default" role="button">Gmail</a>
        <a target="_blank" href="http://www.github.com/kevinferri" class="btn btn-default" role="button">Github</a>
        <a target="_blank" href="http://stackoverflow.com/users/1464197/mrkou" class="btn btn-default" role="button">StackOverflow</a>
        <a target="_blank" href="http://www.linkedin.com/pub/kevin-ferri/46/975/580" class="btn btn-default" role="button">LinkedIn</a>
      </div>
    </div>
  {% endblock %}