{% extends 'layout.html' %}

  {% block content %}

    <div class="container resume">

      <h3 class="text-center">
        <div>
          Kevin Ferri 
          <a class="resume-download" href="/KevinFerriResume.pdf" target="_blank"><i class="fa fa-file-o"></i><small> pdf</small></a>
        </div>
        <small><a href="mailto:kevinferri@gmail.com">kevinferri@gmail.com</a> &mdash; New York, NY &mdash; (203) 921-7505</small>
      </h3>

      <h4><strong>WORK EXPERIENCE</strong></h4>

      <section>
        <header>NEW YORK MAGAZINE &mdash; <small>New York, NY</small></header>
        <em>Front-end Developer (June 2014 &mdash; present)</em>
        <ul>
          <li>Develop features for day-to-day operations of digital news brands: nymag.com, thecut.com, vulture.com, and grubstreet.com using HTML, CSS, and JavaScript (VanillaJS and Node.js)</li>
          <li>Build responsive and interactive editorial web features on article pages using HTML, CSS, and JavaScript</li>
          <li>Improve architecture of advertisement content management system in order to improve how in-house advertisements are developed and maintained</li>
          <li>Produce responsive in-house advertisement units on articles, homepages, and section pages</li>
          <li>Coordinate with designers and product managers to create prototypes and determine UX feasibility</li>
          <li>Analyze Google Analytics data to make decisions on user behavior and site engagement</li>
          <li>Fix bugs and improve legacy products</li>
        </ul>
      </section>

      <section>
        <header>NEW YORK MAGAZINE &mdash; <small>New York, NY</small></header>
        <em>Intern Software Engineer (Summer 2013)</em>
        <ul>
          <li>Developed the front-end of the product development team’s blog</li>
          <li>Prototyped the the front-end of a new commenting system</li>
          <li>Worked on the front end of the mobile version of an existing application</li>
        </ul>
      </section>

      <section>
        <header>SCHOOL OF INFORMATICS AND COMPUTING &mdash; <small>Bloomington, IN</small></header>
        <em>Primary Lab Instructor for Introduction to Informatics (5 Semesters)</em>
        <ul>
          <li>Lead a lab of approximately 30 students</li>
          <li>Taught HTML, CSS, Python, SQL, and Human-Computer Interaction and Design</li>
          <li>Graded lab and lecture assignments, proctored exams, and graded exams</li>
        </ul>
      </section>

      <section>
        <header>CRUMPETA CONSULTING LLC &mdash; <small>Stamford, CT</small></header>
        <em>Intern Web Developer (Summer 2012)</em>
        <ul>
          <li>Prototyped interactive educational games targeted to toddlers and young children  </li>
          <li>Modified and maintained features for sites built in Drupal</li>
          <li>Worked on prototypes for potential future applications or features on current applications</li>
        </ul>        
      </section>

      <h4><strong>EDUCATION</strong></h4>

      <section>
        <header>INDIANA UNIVERSITY, School of Informatics and Computing, GPA: 3.6/4.0 &mdash; <small>Bloomington, IN</small></header>
        <em>Bachelor of Science in Informatics (2010 &mdash; 2014)</em>
        <ul>
          <li>Cognate in Computer Science</li>
        </ul>        
      </section>

      <section>
        <header>RELEVANT COURSEWORK</header>
        Data Structures, Software Systems, Discrete Structures in Computer Science, Senior Capstone: Individual development of a Software System, Information Representation, Introduction to Computer Science, Math Foundations in Informatics, Human-Computer Interaction Design and Programming, Finite Mathematics, Mastering the World Wide Web     
      </section>

      <h4><strong>TECHNICAL SKILLS</strong></h4>

      <section>
        <ul>
          <li>Web Development: HTML5, CSS3, JavaScript, Node.js, MongoDB, MySQL, REST APIs</li>
          <li>Frameworks/Tools:Express, Angular, Rails, Git, Gulp, npm</li>
          <li>Languages: Java, Scheme</li>
        </ul>
      </section>

    </div>

  {% endblock %}