{% extends '/layouts/application.html' %}

  {% block nav %}
    {% include "/layouts/nav.html" %}
  {% endblock %}

  {% block content %}

    <div class="jumbotron text-center">
      <h1>{{ jumbotron }}</h1>
      {% if user %}
        <div class="btn-group">
          <a href="/notes/new" class="btn btn-success btn-lg" role="button">Add A Note &plus;</a>
        </div>
      {% endif %}
    </div>

    <div class="container">

      {% if notes.length > 0 %}

        {% for note in notes %}
          <a href="/notes/{{ note.slug }}">{{ note.title }}</a> - {{ note.body }} - Added on {{ note.createdAt }} by {{ note.author.username }}
        {% endfor %}

      {% else %}

        <p class="error">No notes have been added yet.</p>

      {% endif %}

      <hr>
      <p>Hey! You can add a note too if you want. Just create an account <a href="/users/signup/">here</a>.</p>
    </div>

  {% endblock %}