{% extends '/layouts/application.html' %}

  {% block nav %}
    {% include "/layouts/nav.html" %}
  {% endblock %}

  {% block content %}

    <div class="jumbotron text-center">
      <h1>{{ jumbotron }}</h1>
      {% if user %}
        <div class="btn-group">
          <a href="/notes/new" class="btn btn-success btn-lg" role="button">Add A Note &plus;</a>
        </div>
      {% endif %}
    </div>

    <div class="container">

      {% include '/layouts/message.html' %}

      {% if notes.length > 0 %}

        {% for note in notes %}
          <section class="note">
            <a href="/notes/{{ note.slug }}">{{ note.title }}</a>
            <small>Added by {{ note.author.username }} on {{ prettyDate(note.createdAt) }} in <a href="/notebooks/{{ note.notebook.slug }}">{{ note.notebook.title }}</a></small>
          </section>
        {% endfor %}

      {% else %}

        <p class="error">No notes have been added yet.</p>

      {% endif %}

      <hr>
      
    </div>

  {% endblock %}