{% extends '/layouts/application.html' %}

  {% block nav %}
    {% include "/layouts/nav.html" %}
  {% endblock %}

  {% block content %}

    <div class="container">

      <div class="row">

        <div class="col-md-8">
          <h1>{{ note.title }}</h1>
          <p><small>Written by {{ note.author.username }} in {{ note.notebook }} on {{ note.createdAt }} </small></p>
          <br>
          <p>{{ note.body }}</p>
        </div>

        <div class="col-md-4">
          <h4>More notes</h4>
        </div>
      </div>

    </div>

  {% endblock %}