{% extends '/layouts/show-note.html' %}

  {% block content %}

    <div class="container">

      <div class="row">

        <div class="col-sm-8">
          <h1>{{ note.title }}</h1>
          <p><small>Written by {{ note.author.username }} in <a class="notebook" href="/notebooks/{{ note.notebook.slug }}">{{ note.notebook.title }} {{ getNotebookIcon(note.notebook.title) | safe }}</a> on {{ prettyDate(note.createdAt) }} </small></p>
          <hr>
          <p class="note-body">{{ note.body | safe }}</p>
        </div>

        <div class="col-sm-4">
          <h4>More notes</h4>
          {% if moreNotes.length > 0 %}

            {% for note in moreNotes %}
              <article>
                <a href="/notes/{{ note.slug }}">{{ note.title }}</a>
              </article>
            {% endfor %}

          {% endif %}
        </div>

      </div>

    </div>

  {% endblock %}