{% extends '/layouts/application.html' %}

  {% block content %}

    <div class="jumbotron text-center">
      <h2>{{ jumbotron }}</h2>
    </div>

    <div class="container">

      {% if notebooks.length > 0 %}

        {% for notebook in notebooks %}
          <article class="note">
            <h3 class="note-title"><a href="/notebooks/{{ notebook._id }}">{{ notebook.title }} {{ getNotebookIcon(notebook.title) | safe }}</a> <span class="count">({{ notebook.count }})</span></h3>
          </article>
        {% endfor %}

      {% else %}

        <p class="error">No notes have been added yet.</p>

      {% endif %}
      
    </div>

  {% endblock %}