{% extends 'layout.html' %}

  {% block content %}

    <div class="jumbotron text-center">
      <h2>{{ jumbotron }} </h2>
    </div>

    <div class="container">

      {% if notebooks.length > 0 %}

        {% for notebook in notebooks %}
          <a href="/notebooks/{{ notebook._id }}">
            <article class="note">
              <h3 class="note-title">{{ notebook.title }} {{ getNotebookIcon(notebook.title) | safe }} <span class="count">({{ notebook.count }})</span></h3>
            </article>
          </a>
        {% endfor %}

      {% else %}

        <p class="error">No notes have been added yet.</p>

      {% endif %}
      
    </div>

  {% endblock %}