{% extends '/layouts/application.html' %}

  {% block nav %}
    {% include "/partials/nav.html" %}
  {% endblock %}

  {% block content %}

    <div class="jumbotron text-center">
      <h2>{{ jumbotron }}</h2>
      <a href="/" class="btn btn-success" role="button">View All Notes</a>
      <a href="/notebooks" class="btn btn-success" role="button">View All Notebooks</a>
    </div>

    <div class="container">

      {% if notes.length > 0 %}

        {% for note in notes %}
          <article class="note">
            <a href="/notes/{{ note.slug }}"><span class="note-title">{{ note.title }}</span></a> in <a class="notebook" href="/notebooks/{{ note.notebook.slug }}">{{ note.notebook.title }}</a> on {{ prettyDate(note.createdAt) }}
          </article>
        {% endfor %}

      {% else %}

        <p class="error">No notes have been added yet.</p>

      {% endif %}
      
    </div>

  {% endblock %}