{% extends "/layouts/application.html" %}

  {% block nav %}
    {% include "/layouts/nav.html" %}
  {% endblock %}

  {% block content %}
    <div class="text-center jumbotron">
      <h1>{{ jumbotron }}</h1>
    </div>

    <div class="container">

      {% if notes.length > 0 %}

        <h2>Here Are the Notes You've Added</h2>
        <hr>

        {% for note in notes %}

          <p>
            <a href="/notes/{{ note.slug }}">{{ note.title }}</a>
            <br>
            <a href="/notes/edit/{{ note.slug }}">Edit</a> | <a href="/notes/delete/{{ note.slug }}">Delete</a>
          </p>

        {% endfor %}

      {% else %}
        <p class="error">You haven't aded any notes yet. Add one <a href="/notes/new">here</a>.</p>
      {% endif %}
      
    </div>

  {% endblock %}