{% extends "/layouts/application.html" %}

  {% block nav %}
    {% include "/layouts/nav.html" %}
  {% endblock %}

  {% block content %}
    <div class="text-center jumbotron">
      <h1>{{ jumbotron }}</h1>
    </div>

    <div class="container">

      <a href="/users/logout" class="btn btn-default btn-sm">Logout</a>
      <p>ID: {{ user._id }}</p>
      <p>USERNAME: {{ user.local.username }}</p>
      <p>PASSWORD: {{ user.local.password }}</p>

      <p>Notes</p>

      {% for note in notes %}

        <p><a href="/notes/{{ note.slug }}">{{ note.title }}</a></p>

      {% endfor %}
    </div>

  {% endblock %}