{% extends "/layouts/application.html" %}

  {% block content %}
    <div class="text-center jumbotron">
      <h2>{{ jumbotron }}</h2>
      <div class="btn-group">
        <a href="/notes/new" class="btn btn-success btn-lg" role="button">Add A Note &plus;</a>
      </div>
    </div>

    <div class="container">

    {% include "partials/message.html" %}

      {% if notes.length > 0 %}

        <p>Here Are the Notes You've Added</p>
        <hr>

        {% for note in notes %}
          <article class="note">
            <h2 class="note-title"><a href="/notes/{{ note.slug }}">{{ note.title }}</a></h2>
            <a href="/notebooks/{{ note.notebook.slug }}" class="notebook">{{ note.notebook.title }}</a>
            <time class="note-date">{{ prettyDate(note.createdAt) }}</time>
            <a href="/notes/edit/{{ note.slug }}">Edit</a> | <a href="/notes/delete/{{ note.slug }}">Delete</a>
          </article>

        {% endfor %}

      {% else %}
        <p class="error">You haven't aded any notes yet. Add one <a href="/notes/new">here</a>.</p>
      {% endif %}
      
    </div>

  {% endblock %}